ConsumeWebservice2/Web References/localhost/CartService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddToCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddToCartResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveFromCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFromCartResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCartItems">
        <s:complexType />
      </s:element>
      <s:element name="GetCartItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCartItemsResult" type="tns:ArrayOfCartItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCartItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CartItem" nillable="true" type="tns:CartItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CartItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddToCartSoapIn">
    <wsdl:part name="parameters" element="tns:AddToCart" />
  </wsdl:message>
  <wsdl:message name="AddToCartSoapOut">
    <wsdl:part name="parameters" element="tns:AddToCartResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveFromCartSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveFromCart" />
  </wsdl:message>
  <wsdl:message name="RemoveFromCartSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveFromCartResponse" />
  </wsdl:message>
  <wsdl:message name="GetCartItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCartItems" />
  </wsdl:message>
  <wsdl:message name="GetCartItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCartItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="CartServiceSoap">
    <wsdl:operation name="AddToCart">
      <wsdl:input message="tns:AddToCartSoapIn" />
      <wsdl:output message="tns:AddToCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromCart">
      <wsdl:input message="tns:RemoveFromCartSoapIn" />
      <wsdl:output message="tns:RemoveFromCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCartItems">
      <wsdl:input message="tns:GetCartItemsSoapIn" />
      <wsdl:output message="tns:GetCartItemsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CartServiceSoap" type="tns:CartServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddToCart">
      <soap:operation soapAction="http://tempuri.org/AddToCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromCart">
      <soap:operation soapAction="http://tempuri.org/RemoveFromCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartItems">
      <soap:operation soapAction="http://tempuri.org/GetCartItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CartServiceSoap12" type="tns:CartServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddToCart">
      <soap12:operation soapAction="http://tempuri.org/AddToCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromCart">
      <soap12:operation soapAction="http://tempuri.org/RemoveFromCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartItems">
      <soap12:operation soapAction="http://tempuri.org/GetCartItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CartService">
    <wsdl:port name="CartServiceSoap" binding="tns:CartServiceSoap">
      <soap:address location="https://localhost:44386/CartService.asmx" />
    </wsdl:port>
    <wsdl:port name="CartServiceSoap12" binding="tns:CartServiceSoap12">
      <soap12:address location="https://localhost:44386/CartService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>